{% extends "Gallery/base.html" %} {% block title %} Signup {% endblock title%} 
{%block head%}
{% load static %}  
    <script src="{% static '/Gallery/javascript/dp_upload.js' %}" type="text/javascript"></script> 
{% endblock head %}
{% block content %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card shadow-lg border-1 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
                      <h4 class="font-weight-light my-3 text-center">Upload Image</h4>
                    </div>
                    {% include 'Gallery/messages.html' %}
                    {% if form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
<div id="form_errors">
  {% for key, value in form.errors.items %}
  <strong>{{ value }}</strong>
  {% endfor %}
</div>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
{% endif %}
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row my-0">
                                <div class="col ">
                                    <div class="form-group">
                                        <label class="link-primary mb-1"  style="color: #007bff; cursor:pointer" for="dp">Select Image <i class="fas fa-plus-square"></i> </label>
                                        {{ post_form.image }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <img class="img-responsive img-thumbnail" id="preview" src=""  />
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="form-row my-0">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ post_form.title }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-row my-0">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{ post_form.description }}
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="form-row justify-content-center ">
                                <div class="col-md-10 ">
                                    <div class="form-group mt-0 mb-1">
                                      <button  class="col-md-12 btn btn-sm btn-outline-dark" id="upload">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock content %}